* {
    box-sizing: border-box; 
   
}


body {
   
    color: white;
    background-color: white;
    overflow-x: hidden; 
    font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.content-container{
    background-color: black; 
    padding: 20px;
     
}

.content-container p{
    margin: 10px;
}


.desktop-nav {
      background-color:white;
      border-left: 1px solid rgba(191, 187, 187, 0.39);
      border-right: 1px solid rgba(191, 187, 187, 0.39);
      
    
    }

    

    .desktop-nav .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      padding: 0 30px;
      position: relative;
     background-color: white;
    }

    .desktop-nav .nav-container::after{
    background-color: #5348481e;
    content: "";position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

    .desktop-nav .logo img {
      width: 180px;
      height: auto;
      cursor: auto;
    }

    .desktop-nav .nav-links {
      display: flex;
      gap: 30px;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .desktop-nav .nav-links a {
      color: #b30018;
      text-decoration: none;
      font-size: 1.4rem;
      padding: 10px 15px;
      white-space: nowrap;
      transition: all 0.3s ease;
      font-weight: bolder;
      z-index: 2;
    }


    .navbar .nav-item a:hover,
    .desktop-nav .nav-links a:hover {
      background-color: rgba(214, 207, 207, 0.692);
      border: 1px solid #b30018;
      border-radius: 4px;
    }

.navbar{
    border-left: 1px solid rgba(191, 187, 187, 0.39);
    border-right: 1px solid rgba(191, 187, 187, 0.39) ;
   }

.navbar .container{
    max-width: 100%;
}



 .navbar .navbar-logo img{
    width:140px;
    height: auto;
    cursor: auto;
}

.navbar a {
    font-size: 1.2rem;
    padding: 10px 15px;
     font-weight: bold;
}

.navbar-toggler-icon:hover { 
  
transform: scale(1.1);
    
}

.navbar-toggler:hover{
    background-color: gray;
 
}

.navbar-toggler:focus{box-shadow: none;}

.navbar-toggler {
    background-color: rgba(0, 0, 0, 0.25);
    margin-right: 40px;
   width: 70px;
  border-radius: 10px;
    border: 2px solid rgb(152, 15, 15);
}

.nav-item a{
    text-decoration: none;
}

.nav-item {
    text-align: right;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}



.About-Title{
    text-decoration: underline;
text-decoration-color: #b30018; 
margin-left: 10px;
}


.Personal-Trainer-Img img{width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 30px;
} 


h1 {
    font-size: clamp(25px, 5vw, 48px);
   
}

h2 {
    font-size: clamp(21px, 4vw, 36px);
    margin-top: 20px;
    color: #850516;
   
}



p {
    font-size: clamp(16px, 2.5vw, 24px);
    line-height: 1.6;
   
}



hr{
    color: #b30018;
}


.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: black;
    color: white;
    font-size: small;
    width: 100%;
}



.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(10px, 2vw, 20px);
    color: #e3dede;
}

.footer-links a {
    color: rgb(234, 239, 231);
    text-decoration: none;
    font-weight: bold;
}

.footer img{
    width: clamp(23px,4vw,32px);
}

.Policy-container a,
.contact-links-container a{
    margin-left:clamp(11px,2.5vw,50px);
}

.Policy-container,
.contact-links-container{
    margin: 0 auto;
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
     

    .desktop-only{
        display: none;
    }
}

@media (min-width: 768px) {

.navbar .navbar-logo img{
    width: 160px;
    height: auto;
}

.Personal-Trainer-Img img{
    width: 130px;
}


    .footer {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
    
    .footer-links {
        justify-content: center;
    }
    

    .footer-links  a{
        font-size: medium;
    }
  
.footer-links  img{
    width: 32px;
}


.desktop-only{
        display: none;
    }


     .mobile-only{
        display: block;
    }
}

@media (min-width: 1200px) {
    
    .desktop-nav{ 
        margin-left: 3%;
    margin-right: 3%;
}

 .content-container{
    margin-left: 3%;
    margin-right: 3%;
  }

.Personal-Trainer-Img img{
    width: 140px;
}


.footer-links  a{
    font-size: larger;
}
  
.footer-links  img{
    width: 35px;
}

.desktop-only{
    display: block;
}   
    .mobile-only{
        display: none;
    }   
   

}
