* {
    box-sizing: border-box; 
   
}


body {
   
    color: white;
    background-color: white;
    overflow-x: hidden; 
    font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.content-container{
    background-color: black; 
    padding: 20px;
  
     
}

.content-container p{
    margin: 10px;
}

.redText{color: #b30018;}

.Please-Message-Text{display: flex;flex-direction: column;text-align: center;}


.consultation-button {
      display: inline-block;
      margin: 0 auto;
      padding: 10px 20px;
      background-color: #c33e3e;
      color: white;
      border: 2px solid white;
      font-size:clamp( 18px,3vw,20px);
      cursor: pointer;
      text-decoration: none;
      margin-block: 20px;
    font-weight: bold;
    border-radius: 5px;
    
    
    }



.About-Title{
   
margin-left: 10px;
padding-top: 120px;
}


.Personal-Trainer-Img img{width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 30px;
} 


h1 {
    font-size: clamp(25px, 5vw, 48px);
   
}

h2 {
    font-size: clamp(21px, 4vw, 36px);
    margin-top: 20px;
   
   
}



p {
    font-size: clamp(16px, 2.5vw, 24px);
    line-height: 1.9;
   
}

.table-container {
    width: 100%;
    overflow-x:hidden;
    
    
   
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
   background-color: black;
    color: rgb(249, 245, 245);
    display: flex;
    justify-content: center;
    
   
}



.table-container th, td {
    padding: 20px;
    border: 1px solid black;
    text-align: left;
    font-weight: bold;
font-size: clamp(14px, 2.5vw, 40px);


}

.table-container tr:nth-child(even) {
    padding: 10px;
    border: 1px solid rgb(3, 3, 3);
    
}


.whiteSpace{padding: 2px;background-color: white;}




footer {
   
    background-color: black;
    color:white;
    padding-bottom: 20px;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}



.footer-bottom p{font-size: clamp(10px, 2vw, 20px);}

footer p {
    margin: 20px;
    width: 95%;
    text-align: left;
    
}

.footer-col{display: flex;flex-direction: column;}

footer a {

    text-decoration: none;
    color:white;
    text-align: left;
   margin-left: 20px;
    margin-top: 10px;
}



.footerItems {display: flex;flex-direction: column;}








.achieve-your-fitness-goals-text span,
.footer-links a:hover {
    color: #b30018;
}



@media (max-width: 767px) {
     

    .desktop-only{
        display: none;
    }
}

@media (min-width: 768px) {

.navbar .navbar-logo img{
    width: 160px;
    height: auto;
}

.Personal-Trainer-Img img{
    width: 130px;
}


    .footer {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
    
    .footer-links {
        justify-content: center;
    }
    

    .footer-links  a{
        font-size: medium;
    }
  
.footer-links  img{
    width: 32px;
}


.footer-columns{display: grid;grid-template-columns: 1fr 1fr 1fr;}


}

@media (min-width: 1200px) {
    
    

 

.Personal-Trainer-Img img{
    width: 140px;
}


.footer-links  a{
    font-size: larger;
}
  
.footer-links  img{
    width: 35px;
}

.desktop-only{
    display: block;
}   
    .mobile-only{
        display: none;
    }   
   

}
