* {
    box-sizing: border-box; 
   
}


body {
   
    color: white;
    background-color: white;
    overflow-x: hidden; 
    font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.content-container{
    background-color: black; 
    padding: 20px;
     
}

.content-container p{
    margin: 10px;
}


.desktop-nav {
      background-color:white;
      border-left: 1px solid rgba(191, 187, 187, 0.39);
      border-right: 1px solid rgba(191, 187, 187, 0.39);
      
    
    }

    

    .desktop-nav .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      padding: 0 30px;
      position: relative;
     background-color: white;
    }

    .desktop-nav .nav-container::after{
    background-color: #5348481e;
    content: "";position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

    .desktop-nav .logo img {
      width: 180px;
      height: auto;
      cursor: auto;
    }

    .desktop-nav .nav-links {
      display: flex;
      gap: 30px;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .desktop-nav .nav-links a {
      color: #b30018;
      text-decoration: none;
      font-size: 1.4rem;
      padding: 10px 15px;
      white-space: nowrap;
      transition: all 0.3s ease;
      font-weight: bolder;
      z-index: 2;
    }


    .navbar .nav-item a:hover,
    .desktop-nav .nav-links a:hover {
      background-color: rgba(214, 207, 207, 0.692);
      border: 1px solid #b30018;
      border-radius: 4px;
    }

.navbar{
    border-left: 1px solid rgba(191, 187, 187, 0.39);
    border-right: 1px solid rgba(191, 187, 187, 0.39) ;
   }

.navbar .container{
    max-width: 100%;
}



 .navbar .navbar-logo img{
    width:140px;
    height: auto;
    cursor: auto;
}

.navbar a {
    font-size: 1.2rem;
    padding: 10px 15px;
     font-weight: bold;
}

.navbar-toggler-icon:hover { 
  
transform: scale(1.1);
    
}

.navbar-toggler:hover{
    background-color: gray;
 
}

.navbar-toggler:focus{box-shadow: none;}

.navbar-toggler {
    background-color: rgba(0, 0, 0, 0.25);
    margin-right: 40px;
   width: 70px;
  border-radius: 10px;
    border: 2px solid rgb(152, 15, 15);
}

.nav-item a{
    text-decoration: none;
}

.nav-item {
    text-align: right;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}



.About-Title{
    text-decoration: underline;
text-decoration-color: #b30018; 
margin-left: 10px;
}


.Personal-Trainer-Img img{width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 30px;
} 


h1 {
    font-size: clamp(25px, 5vw, 48px);
   
}

h2 {
    font-size: clamp(21px, 4vw, 36px);
    margin-top: 20px;
    color: #850516;
   
}



p {
    font-size: clamp(16px, 2.5vw, 24px);
    line-height: 1.6;
   
}

.table-container {
    width: 100%;
    overflow-x:hidden;
    
    
   
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
   background-color: black;
    color: rgb(249, 245, 245);
    display: flex;
    justify-content: center;
    
   
}



.table-container th, td {
    padding: 20px;
    border: 1px solid black;
    text-align: left;
    font-weight: bold;
font-size: clamp(14px, 2.5vw, 40px);


}

.table-container tr:nth-child(even) {
    padding: 10px;
    border: 1px solid rgb(3, 3, 3);
    
}


hr{
    color: #b30018;
}


footer {
   
    background-color: black;
    color:white;
    padding-bottom: 20px;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}



.footer-bottom p{font-size: clamp(10px, 2vw, 20px);}

footer p {
    margin: 20px;
    width: 95%;
    text-align: left;
    
}

.footer-col{display: flex;flex-direction: column;}

footer a {

    text-decoration: none;
    color:white;
    text-align: left;
   margin-left: 20px;
    margin-top: 10px;
}



.footerItems {display: flex;flex-direction: column;}







.achieve-your-fitness-goals-text span,
.footer-links a:hover {
    color: #b30018;
}



@media (max-width: 767px) {
     

    .desktop-only{
        display: none;
    }
}

@media (min-width: 768px) {

.navbar .navbar-logo img{
    width: 160px;
    height: auto;
}

.Personal-Trainer-Img img{
    width: 130px;
}


    .footer {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
    
    .footer-links {
        justify-content: center;
    }
    

    .footer-links  a{
        font-size: medium;
    }
  
.footer-links  img{
    width: 32px;
}


.footer-columns{display: grid;grid-template-columns: 1fr 1fr 1fr;}


}

@media (min-width: 1200px) {
    
    

 

.Personal-Trainer-Img img{
    width: 140px;
}


.footer-links  a{
    font-size: larger;
}
  
.footer-links  img{
    width: 35px;
}

.desktop-only{
    display: block;
}   
    .mobile-only{
        display: none;
    }   
   

}
