* {
    box-sizing: border-box;
     overflow-x: hidden;
}

body {
    color: white;
    background-color: white;
   
    
   
}

h1 {
    font-size: clamp(25px, 5vw, 48px);
    font-family: "Changa One", sans-serif;
    font-weight: 500;
    font-style: italic;
}

h2 {
    font-size: clamp(21px, 4vw, 36px);
    margin-block: 30px;
    font-family: "Changa One", sans-serif;
    font-weight: 500;
    font-style: italic;
}

p {
    font-size: clamp(16px, 2.5vw, 24px);
    line-height: 1.9;
    font-family: "Changa One", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.content-container {
    background-color: black;
    padding: 20px;
}

.content-container p {
    margin: 10px;
}

.redText {
    color: #b30018;
}

.Please-Message-Text {
    display: flex;
    flex-direction: column;
    text-align: center;
}



.consultation-button:hover{
    background-color: #9c1022;}


.consultation-button {
    display: inline-block;
    margin: 0 auto;
    margin-block: 20px;
    padding: 10px 20px;
    background-color: #c33e3e;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: clamp(18px, 3vw, 20px);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.About-Title {
    margin-left: 10px;
    padding-top: 120px;
}

.Personal-Trainer-Img img {
    width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.table-container {
    width: 100%;
    overflow-x: hidden;
    border: 1px solid rgb(147, 26, 26);
    margin-block: 20px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    background-color: black;
    color: rgb(249, 245, 245);
    display: flex;
    justify-content: center;
}

.table-container th,
.table-container td {
    padding: 20px;
    border: 1px solid black;
    text-align: left;
    font-weight: bold;
    font-size: clamp(14px, 2.5vw, 40px);
}

.table-container tr:nth-child(even) {
    padding: 10px;
    border: 1px solid rgb(3, 3, 3);
}

.whiteSpace {
    padding: 2px;
    background-color: white;
}

footer {
    background-color: black;
    color: white;
    padding-bottom: 20px;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

footer p {
    margin: 20px;
    width: 95%;
    text-align: left;
}

footer a {
    text-decoration: none;
    color: white;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}

.footer-bottom p {
    font-size: clamp(10px, 2vw, 20px);
}

.footer-col {
    display: flex;
    flex-direction: column;
}

.footerItems {
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
}

@media (min-width: 768px) {
    .Personal-Trainer-Img img {
        width: 130px;
        max-height: 600px;
    }

    .footer-columns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .Personal-Trainer-Img img {
        width: 140px;
        max-height: 600px;
    }
}
