* {
    box-sizing: border-box;
    max-width: 100%;
}

body {
    color: white;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: italic;
    overflow-x: hidden;
}

h1 {
    font-size: clamp(25px, 5vw, 49px);
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: clamp(21px, 4vw, 36px);
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font-size: clamp(19px, 3.5vw, 30px);
    margin-top: 20px;
    margin-bottom: 20px;
}

p,
ol {
    font-size: clamp(16px, 2.5vw, 24px);
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-container {
    background-color: black;
    padding: 20px;
    padding-top: 120px;
}

.content-container h1,
.content-container h2,
.content-container h3,
.content-container p {
    padding: 20px;
}

.Nutrition-Img img {
    width: 100%;
    max-height: 600px;
}

.List {
    max-width: 850px;
    margin: 0 auto;
}

.List li {
    list-style-type: disc;
    list-style-position: inside;
}

.List li::marker {
    color: #b30018;
}

.List-Container li {
    margin-bottom: 1.8rem;
    line-height: 1.5rem;
}

.whiteSpace {
    padding: 2px;
    background-color: white;
}

.redText {
    color: #b30018;
}

footer {
    background-color: black;
    color: white;
    padding-bottom: 20px;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

footer p {
    margin: 20px;
    width: 95%;
    text-align: left;
}

footer a {
    text-decoration: none;
    color: white;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}

.footer-bottom p {
    font-size: clamp(10px, 2vw, 20px);
}

.footer-col {
    display: flex;
    flex-direction: column;
}

.footerItems {
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
    .content-container {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width: 768px) {
    .content-container {
        margin: 0;
    }

    .footer-columns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .sticky-button {
        margin-right: 42px;
    }
}
