* {
  
    box-sizing: border-box;
}

body {
    color: white;
    font-size: larger;
    line-height: 2;
 font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: italic;
  
    
}


.Sessions-Include li{padding-bottom: 50px;line-height: 20px;}

.card4 h3,
.card3 h3,
.card2 h3,
.card1 h3{ font-size: clamp(20px, 3.5vw, 30px);;margin-bottom: 20px;color: white;position: absolute;z-index: 3;left: 50%;transform: translateX(-50%);}


.card4 p,
.card3 p,
.card2 p,
.card1 p {position: absolute;color: white;top: 50%;transform: translateY(-50%);z-index: 2;text-align: left;margin-top: 30px;margin: 10px;font-size: clamp(16px, 2.5vw, 20px)}

.card4 a,
.card3 a,
.card2 a,
 .card1 a{position: absolute;bottom: 40px;text-decoration: none;color: red;z-index: 2;padding: 10px;font-weight: bolder;}

.card4,
.card3,
.card2,
.card1{width:clamp( 200px,70vw,700px);height:550px;margin: 10px;transition: ease 1.2s;background-color: rgba(0, 0, 0, 0.295);padding: 5px;position: relative;background-position: center;background-repeat: no-repeat;background-size: cover;display: flex;}



.card1{background-image: url("../pics/IMG_7933.jpg")}
.card2{background-image: url("../pics/IMG_7911_SnapseedCopy.jpg")}


.card3{background-image: url("../pics/IMG_7889 2.jpg")}


.card4{background-image: url("../pics/IMG_8091.JPG")}

.card4::after ,
.card3::after ,
.card2::after ,
.card1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6; 

}


.cardContainer span{color: white;}

.cardContainer{display: flex;flex-direction: column;align-items: center;}


.Page-content-container{
   background-color: black;
     
    
   
    }

.content-container{
    padding: 20px;
    margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 150px;
    ;}

.content-container img{width: 100%;max-height: 700px;margin-bottom: 30px;}

.carousel-progress-pics{
   width: 100%;
   max-width: 400px;
    margin:0 auto;
    overflow-y: hidden;
    height: auto;
    margin-top: 40px;
    margin-bottom: 70px;
}


.carousel-inner,
.carousel-item,
.carousel-item img {
overflow: hidden;
  object-fit: cover;
  height: auto;
}


.custom-card {
    border: 4px solid rgb(238, 241, 237);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 20px 0;
    background-color: #1f1e1e;
    color: #fbf6f6;
    
}

.custom-box{
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    min-width: 500px;
    
}

.custom-box .discount-text {
    font-size: 2rem;
    font-weight: bold;
    color: rgba(15, 98, 224, 0.628);
    text-shadow: -1px -1px 0 black;
   
}

.Price-Plans h1,
.What-Clients-Say h3{
    display: inline-block;
    border-bottom: 3px solid red;
    padding-bottom: 5px;
}



.Testimonial-Img img {
    border-radius: 50%;
    display: inline-block;
    height: 130px;
    width: 130px;
margin-bottom: 20px;
margin-top: 35px;
}


.fade-wrapper > * {
  opacity: 0;
  transform: translateY(20px);
 
}


.fade-wrapper .consultation-button {
      display: inline-block;
      margin: 0 auto;
      padding: 10px 20px;
      background-color: #c33e3e;
      color: white;
      border: none;
      font-size: 18px;
      cursor: pointer;
      text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    
    
    }




h1 {
    font-size: clamp(25px, 5vw, 48px);
     margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: clamp(21px, 4vw, 36px);
     margin-top: 20px;
    margin-bottom: 20px;
  text-align: center;}

h3 {
    font-size: clamp(19px, 3.5vw, 30px);
}

p {
    font-size: clamp(16px, 2.5vw, 24px);
     margin-top: 20px;
    margin-bottom: 20px;
}






.sticky-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 50%;
    background-color: #c33e3e;
    color: rgb(11, 11, 11);
    border: 2px solid white;
    font-size: clamp(14px, 3vw, 18px);
    width: clamp(60px, 13vw, 80px);
    height: clamp(60px, 13vw, 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
}

.sticky-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

.sticky-button:active {
    transform: scale(0.95);
}



hr{
  color: #b30018;
}


footer {
   
    background-color: black;
    color:white;
    padding-bottom: 20px;
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}



.footer-bottom p{font-size: clamp(10px, 2vw, 20px);}

footer p {
    margin: 20px;
    width: 95%;
    text-align: left;
    
}

.footer-col{display: flex;flex-direction: column;}

footer a {

    text-decoration: none;
    color:white;
    text-align: left;
   margin-left: 20px;
    margin-top: 10px;
}



.footerItems {display: flex;flex-direction: column;}




.achieve-your-fitness-goals-text span,
.footer-links a:hover {
    color: #b30018;
}


@media (max-width: 767px) {
   
  .navbar{
    margin: 0;
}
 
    .Page-content-container{
        margin: 0;
        padding: 0;
    }
   

   
 .footer {
        flex-direction: column;
        text-align: center;
    }
    
}


@media (min-width: 768px)  {
   
  .navbar .navbar-logo img{
    width: 160px;
    height: auto;
}
   
    .carousel {
        height: 350px;
    }
    
   .Testimonial-Img img{
    width: 150px;
    height: 150px;
    margin-top: 37px;
}
    
   .carousel-progress-pics  {
       max-width:500px;
       width: 450px;
        height: 100%;
       
    }

  .footer-links  a{
    font-size: medium
}
  
.footer-links  img{
    width: 32px
}

  .footer-columns{display: grid;grid-template-columns: 1fr 1fr 1fr;}



    
}


@media (min-width: 1200px) {
    
  
  .page-content {
        padding-left: 7%;
        padding-right: 7%;
    }

    
    
   
    
      .carousel-progress-pics{
        max-width: 700px;
        width: 100%;
        height: 500px;
 }      
    .Testimonial-Img img{
    width: 170px;
    height: 170px;
    margin-top: 40px;
}

  
.sticky-button {
    margin-right: 42px;
}


   .footer-links  a{
    font-size: larger
}
  
.footer-links  img{
    width: 35px
}


}

