* {
    box-sizing: border-box; 
    overflow-x: hidden;
}

body{
    color: white;
    background-color: black;
}


.content-container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    padding-top: 120px;
}

h1 {
    font-size: clamp(25px, 5vw, 49px);
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
    text-decoration-color: red;
    font-family: "Changa One", sans-serif;
    font-weight: 500;
    font-style: italic;
}

h2 {
    font-size: clamp(21px, 4vw, 36px);
    margin-top: 60px;
    margin-bottom: 20px;
    text-decoration: underline;
    text-decoration-color: red;
    font-family: "Changa One", sans-serif;
    font-weight: 500;
    font-style: italic;
}

h3 {
    font-size: clamp(19px, 3.5vw, 30px);
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Changa One", sans-serif;
    font-weight: 500;
    font-style: italic;
}

p, ol {
    font-size: clamp(16px, 2.5vw, 24px);
    font-family: "Changa One", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.List-Container li {
    margin-bottom: 30px;
    line-height: 1.5rem;
}

.List ol { 
    max-width: 650px;
    text-align: left;
    margin: 0 auto;
}




   